Repository elisebeall/dnd-spells, pull requests merged in 2022-01, with the labels that each got.

#45 Feature/ar css improvements
  src/App.css
  src/assets/barbarian.svg
  src/assets/bard.svg
  src/assets/cleric.svg
  src/assets/druid.svg
  src/assets/fighter.svg
  src/assets/monk.svg
  src/assets/paladin.svg
  src/assets/ranger.svg
  src/assets/rogue.svg
  src/assets/sorcerer.svg
  src/assets/warlock.svg
  src/assets/wizard.svg
  src/components/Bookmark.js
  src/components/CharClass.js
  src/components/ClassFilter.js
  src/components/Home.js
  src/components/SpellBox.js
  src/components/SpellDetails.js
  src/components/TopNav.js
  src/components/UserSpellbook.js
  src/css/Bookmark.css
  src/css/ClassFilter.css
  src/css/SpellBox.css
  src/css/SpellDetails.css
  src/css/TopNav.css
  src/css/UserSpellbook.css
Labels: feature, user interface

#50 Feature/bp cypress
  README.md
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/assets/Classes.png
  src/assets/Home-page.png
  src/assets/Spell-details.png
  src/assets/Spell-list.png
Labels: documentation

#49 Feature/ar muggle classes
  src/components/ClassFilter.js
  src/components/MuggleMessage.js
  src/components/SpellBox.js
  src/components/SpellDetails.js
  src/components/UserSpellbook.js
  src/css/CharClassBox.css
  src/css/ClassFilter.css
  src/css/MuggleMessage.css
  src/css/SpellBox.css
  src/css/SpellDetails.css
  src/css/TopNav.css
  src/css/UserSpellbook.css
Labels: refactor, user interface

#52 Testing/ar cypress
  cypress/fixtures/bardSpells.json
  cypress/fixtures/classes.json
  cypress/fixtures/clericSpells.json
  cypress/fixtures/guidance.json
  cypress/integration/1-getting-started/squizard.spec.js
  cypress/integration/1-getting-started/todo.spec.js
  package.json
  src/components/MuggleMessage.js
  src/reducers/charReducer.js
Labels: testing
